@font-face {
  font-family: mrrobot;
  src: url(MR\ ROBOT.ttf);
}
  
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: gray;
  color: white;
}
header{
  height: 100vh;
  background:black url(header.jpg) no-repeat center center;
  background-size: cover;
  width:100%;    
  padding-top: 1px;
}
.titolohome, .titolostagioni, .titolopersonaggi {
  font-family: mrrobot;
  color: red;
  font-size: 50px;
  text-align: right;
  padding-right: 50px;
  padding-top: 150px;
}
.testohome {
background-color: black;
padding-top: 1px;
color: white;
padding-left: 30px;
padding-right: 30px;
text-align: justify;
}
.testo1home {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  color: white;
  font-family: mrrobot;
}
.testopersonaggi {
  color: white;
  background-color: black;
}
body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }